.title {
  -webkit-animation: inTitle 0.5s linear none;
  animation: inTitle 0.5s linear none;
}

/**
 * ----------------------------------------
 * animation in
 * ----------------------------------------
 */
@-webkit-keyframes inTitle {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes inTitle {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
